<div class='campaign-header map-header'>
	<span>Mapping out voter interaction</span>
	<ng-md-icon icon="arrow_back" ng-click="nextPage('topcontributors')"></ng-md-icon> 
</div>

<div class="container-fluid">
	<div class="row">
		<div class="row main-row">
			<div class="col-md-6">
				<div id="scatter-animated">
				</div>
				
				<div class="row title">
					<span class="state-header">{{ drawMap.currentArea[2] }}</span>
				</div>
				<div class="row">
					<div class="col-md-offset-1 col-md-3 button-row">
						<md-checkbox ng-model="mapState[2].state" aria-label="Show Map">
							<span class="show-header">Show Map</span>
						</md-checkbox>
					</div>
					<div class="col-md-3">
						<md-select ng-model="dataPoint2"  class="md-accent" md-on-open="loadDataPoints()" style="min-width: 200px;">
						<md-select-label class="md-accent">{{ dataPoint2 }}</md-select-label>
							<md-option class="md-accent" ng-value="dataPoint" ng-repeat="dataPoint in dataPoints">{{ dataPoint }}</md-option>
						</md-select>
					</div>
					<div class="col-md-2 button-row">
						<ng-md-icon  style="width:30px;height:30px" icon="remove_circle_outline" class="lol" ng-click="mapZoomOut(2)">
						
							
						</ng-md-icon> 
					</div>
				</div>
				<div id="stateContainer2">
				</div>
				
				
			</div>
			<div class="col-md-6">
				<div class="row title">
					<span class="state-header">{{ drawMap.currentArea[1] }}</span>
				</div>
				<div class="row">
					<div class="col-md-offset-1 col-md-3 button-row">
						<md-checkbox ng-model="mapState[1].state" aria-label="Show Map">
							<span class="show-header">Show Map</span>
						</md-checkbox>

					</div>
					<div class="col-md-3">
						<md-select ng-model="dataPoint" class="md-accent" md-on-open="loadDataPoints()" style="min-width: 200px;">
						<md-select-label class="md-accent" >{{ dataPoint }}</md-select-label>
							<md-option class="md-accent" ng-value="dataPoint" ng-repeat="dataPoint in dataPoints">{{ dataPoint }}</md-option>
						</md-select>
					</div>
					<div class="col-md-2 button-row">
						<ng-md-icon  style="width:30px;height:30px" icon="remove_circle_outline" class="lol" ng-click="mapZoomOut(1)">
						
							
						</ng-md-icon> 
					</div>
				</div>
				<div id="stateContainer1">
				</div>
			</div>
		</div>
	</div>
</div>