<div class='campaign-header'>
	<span>{{ header }}</span>
</div>

</md-whiteframe>
<div>
  <md-content class="md-padding">
    <md-tabs md-selected="selectedIndex" md-dynamic-height md-border-bottom>
      <md-tab label="Contribution by Occupation">
        <md-content class="md-padding">
          <p id="topcontributors">
          </p>
        </md-content>
      </md-tab>
      <md-tab label="Contribution by State">
        <md-content class="md-padding">
          <p>lalala</p>
        </md-content>
      </md-tab>
      <md-tab label="Do your contributions matter?">
        <md-content class="md-padding">
          <p>lalala2</p>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>