body {
  margin-top: 0px;
  background-color: #FFFFFF;
	
}

body > .container {
  	max-width: 100%;
  	padding-left: 0px;
  	padding-top: 0px;
  	padding-right: 0px;
}

.screen-title {
	font-family: Circular;
	color: white;
}
.slider {
	margin: 5px;
	margin-bottom:20px;
}.
.slider-col label.label-font {
	font-size: 20px;
}

.slider-value {
	font-size: 20px;
	font-family: Lato;
}

.slider-col {
	padding-top: 25px;
}

.full-screen {
	height: 100%;
	width: 100%;
}
svg {
	margin: auto;
}

.state{
		fill: none;
		stroke: #a9a9a9;
		stroke-width: 1;
	}
	.state:hover{
		fill-opacity:0.5;
	}
	#tooltip {   
		position: absolute;           
		text-align: center;          
		font: 12px sans-serif;        
		background: white;          
		pointer-events: none;         
	}
	#tooltip h4{
		margin:0;
		font-size:14px;
	}
	#tooltip{
		border-radius:0px;
		width:auto;
		padding:0px;
		color:white;
		opacity:0;
	}
	#tooltip table{
		table-layout:fixed;
	}
	#tooltip tr td{
		padding:0;
		margin:0;
	}
	#tooltip tr td:nth-child(1){
		width:50px;
	}
	#tooltip tr td:nth-child(2){
		text-align:center;
	}

.carousel-control{
	background-image: none !important;
}

.select-group {
	font-family: circular !important;
}

button.select-button {
	border: none;
	border-radius: 0px;
}

div.title {
  text-align: center;
}
@font-face { font-family: Circular; src: url('../fonts/CircularStd-Bold.otf'); }

body {
	font: Circular;
} 
.btn-wrapper {
	text-align: right;
	padding-bottom: 50px;
}

.main-view {
	padding-top: 20px;
}

.btn-group > .btn {
	padding: 10px 10px;
	font-size: 15px;
}

.pg-loading-screen .pg-loading-logo-header img {
	display: none !important;
}

.loading-header {
	font-family: Circular;
	font-size: 50px;
	padding-bottom: 20px;
}

.autocompletedemoBasicUsage md-content {
  min-height: 500px; 
}

.button-row {
	padding-bottom: 40px;
}

.button-row > .md-raised {
	font-family: RobotoDraft !important;
	text-transform: none;
}

.state-header {
	font-family: RobotoDraft;
	font-size: 30px;
	text-align: center;
}

.md-select {
	margin-top: 0px !important; 
}
