body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: orange;
}

.bar:hover {
  fill: #FF4081;
}

.x.axis path {
  display: none;
}

.d3-tip {
  line-height: 1;
  padding: 12px;
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

md-whiteframe.contribution-header  {
  background: #fff;
  margin: 20px;
  margin-top: 0px;
  padding: 20px; 
  font-size: 40px;
  font-family: RobotoDraft;
}

md-content.md-padding {
  padding-top: 0px;
  padding-left: 0px;
}
.y.axis .tick text,
.x.axis .tick text {
  font-family: 'RobotoDraft';
  font-size: 12px;
}

.campaign-header {
  background-color: rgb(63,81,181);
  font-size: 40px;
  padding-top: 40px;
  padding-bottom: 20px;
  padding-left: 20px;
  font-family: RobotoDraft;
  color: white;
}