body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: #9575CD;
}

.bar:hover {
  fill: #FF4081;
}

.x.axis path {
  display: none;
}

.d3-tip {
  line-height: 1;
  padding: 12px;
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

md-whiteframe.contribution-header  {
  background: #fff;
  margin: 20px;
  margin-top: 0px;
  padding: 20px; 
  font-size: 40px;
  font-family: RobotoDraft;
}

md-content.md-padding {
  padding-top: 0px;
  padding-left: 0px;
}
.y.axis .tick text,
.x.axis .tick text {
  font-family: 'RobotoDraft';
  font-size: 12px;
}

.campaign-header {
  background-color: rgb(103,58,183);
  font-size: 40px;
  padding-top: 40px;
  padding-bottom: 20px;
  padding-left: 20px;
  font-family: RobotoDraft;
  color: white;
}
.whiteframe-contributors {
  margin: 20px;
}
md-whiteframe.whiteframe-contributors md-content.md-padding {
  width: 80% !important;
}
.contrib-header {
  text-align: center;
  font-size: 18px;
  margin-right: 0px;
}
.contrib-item-text h3 {
  font-family: 'RobotoDraft';
  font-size: 15px;
  font-weight: normal;
}

#tooltip {   
    position: absolute;           
    text-align: center;          
    font: 12px sans-serif;        
    background: white;          
    pointer-events: none;         
}
#tooltip h4{
  margin:0;
  font-size:14px;
}
#tooltip{
  border-radius:0px;
  width:auto;
  padding:0px;
  color:white;
  opacity:0;
}
#tooltip table{
  table-layout:fixed;
}
#tooltip tr td{
  padding:0;
  margin:0;
}
#tooltip tr td:nth-child(1){
  width:50px;
}
#tooltip tr td:nth-child(2){
  text-align:center;
  }